*
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.5;
    background-color: #f1e0fb;
}

.header-text {
    color: #5412c1;
}

.section-headers {
    color: #37075d;
}

.body-text {
    font-style: italic;
}