* {
    box-sizing: border-box;
    padding: 0;
    margin: 5px;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.5;
    background-color: #f1e0fb;
}

.about-me-format {
    margin-bottom: 10px;
    padding: 50px;
    height: 300px;
    background-color: whitesmoke;
}

.work-format {
    margin-bottom: 10px;
    padding: 50px;
    height: 200px;
    background-color: whitesmoke;
}

.contact-me-format {
    margin-bottom: 10px;
    padding: 50px;
    height: 100px;
    background-color: whitesmoke;
}

.header {
    color: #5412c1;
}

.header h1 {
    display: inline-block;
}

.header nav {
    display: inline-block;
    float: right;
}

.header nav ul li {
    float: right;
    list-style-type: none;
    margin-right: 25px;
}

.body-text {
    font-style: italic;
}

img {
    width: 1920px;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

.profile-photo {
    max-width: 150px;
    float: left;
}

.placeholder-photo {
    max-width: 125px;
}

.work {
    color: #37075d; 
}

.work h2 {
    float: left;
}

.about-me {
    color: #37075d;
}

.contact-methods {
    color: #37075d;
}

.contact-methods h2 {
    display: inline-block;
}

.contact-methods nav {
    display: inline;
    float: right;
}

.contact-methods ul li {
    float: right;
    list-style-type: none;
    margin-right: 25px;
}