* {
    box-sizing: border-box;
    padding: 0;
    margin: 5px;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.5;
    background-color: #f1e0fb;
}

.header {
    color: #5412c1;
}

.header h1 {
    display: inline-block;
}

.header nav {
    float: right;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-right: 25px;
}

.section-headers {
    color: #37075d;
}

.body-text {
    font-style: italic;
}

.banner {
    width: 100%;
    height: auto;
    background-image: url(Cyberpunk\ Bar.png);
    background-size: cover;
    background-position: center;
}